@import url('https://fonts.googleapis.com/css2?family=Anton&family=Dancing+Script&family=Hurricane&family=Inspiration&family=League+Gothic&family=Oswald:wght@200&family=Parisienne&family=Permanent+Marker&family=Poppins:wght@300&family=Smokum&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
#navbar{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    padding: .5rem 5rem;
    box-shadow: 5px 5px 20px rgba(0,0,0,.5);
    background-color: black;
}
.navbar .navbar-brand{
    font-size: 50px;
    font-weight: 1600;
    color: red !important;
}
#navbarSupportedContent a{
    color: #fff;
}
#navbarSupportedContent a:hover{
    border-bottom: 2px solid red;
}
#navbarSupportedContent button{
    background: red;
    border-radius: 10px;
    font-size: 25px;
}
#navbarSupportedContent button:hover{
    background-color: black;
    color: red;
}
section{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#home{
    background-image: url(./spiceimg/spice1.png);
    background-size: cover;
    background-position: center;
    flex-direction: column;
}

#home h1{
    font-size: 100px;
    color: white;
    letter-spacing: 3px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 0px 1px 0px lightgrey,
                 0px 2px 0px lightgrey,
                 0px 3px 0px lightgrey,
                 0px 4px 0px lightgrey,
                 0px 5px 0px lightgrey,
                 0px 6px 0px lightgrey,
                 0px 7px 0px lightgrey;
}
#home p{
    font-size: 40px;
    color: white;
} 
#home .input-group{
    width: 40%;
    height: 45px;
}
.signin{
    background: red !important;
    color: white !important;
    box-shadow: 2px 4px 5px rgba(0,0,0,.3);
}
#about{
    background: linear-gradient( to right,pink,white 100%);
}
#about h1{
    font-weight: 800;
    font-size: 50px;
}
#about p{
    margin-top: 50px;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#about img{
    margin-top: 150px;
}
#product{
    background: lightgrey;
}
#product h1{
    font-size: 50px;
    font-weight: 800;
    letter-spacing: 2px;
}
#product img{
    width: 200px;
    height: 200px;
    margin-top: 20px;
}
.card{
    width: 250px;
    height: 300px;
    background: white !important;
   border: none !important;
   box-shadow: 15px 20px 20px rgba(0,0,0,.3),
                inset 4px 4px 10px white;
   border-radius: 20px !important;
   overflow: hidden;
   justify-content: center;
   align-items: center;
   margin: 20px 60px;
   transition: .2s;

}
.card:hover{
    box-shadow: inset 5px 5px 10px rgba(0,0,0,.3),
                inset -4px -4px 10px white;
                transition: .2s;
}
#blog h1{
    text-align: center;
    margin: 50px 0 !important;
    font-family: sans-serif;
    font-size: 50px !important ;
    font-weight: 600 !important;
    letter-spacing: 2px;
}
.accordion .accordion-header{
  background-color:lightcoral!important;
  border: none !important;
  padding: 0 !important;
  margin-bottom: 20px;
}
.accordion{
    box-shadow: 0 2px 20px 0 rgba(110,130,208,.18);
}
.accordion-button{
    width: 100%;
    height: 60px;
    color: black !important;
    font-weight: bold !important;
    text-align: left !important;
    text-decoration: none !important;
}
.accordion-body{
    background: lightgray;
    font-weight: bold;
}
#blog img{
    width: 500px; 
    height: 200px;
    margin-top: 1px;
    /* margin-left: 200px; */
    border-radius: 22px;
    display: flex;
    flex-direction: column;

}
#contact img{
    width: 500px;
    height: 100%;
}
.box{
    width: 80% !important;
    /* background-color: palevioletred; */
    margin-top: 10px;
}
form{
    display:flex;
    flex-direction: column;
}
#contact input{
    margin: 10px 0px;
}
#contact textarea{
    margin: 10px 0px;
}
#contact h1{
    font-size: 50px;
    font-weight: 800;
    letter-spacing: 2px;
}
#contact{
    background-color: lightpink;
}
footer{
    width: 100%;
    height: 200px;
    background-color: black;
    margin-top: -3px;
    color: white;
    padding: 20px;
    text-align: center;
    
}
footer a{
    font-size: 250%;
    align-items: center;
    color: white;
}
footer h6{
   /* margin-left: 86px; */
   padding: 10px;
}


.sticky{
    position: fixed;
    height: 100vh;
    display: flex;
     flex-direction: column; 
     justify-content: center;
}
.sticky a{
    color:white;
    background: rgba(0,0,0,0.4);
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    display: block;
    margin: 0px;
    padding: 20px;
    width: 300px;
    text-align: right;
    border-radius: 50px;
    
}
.sticky a:hover{
   
    color: white;
}
.sticky i{
    margin-left: 10px;
    font-size: 30px;
    width: 30px;
    height: 30px;
}
.sticky a:nth-child(1) i{
    color: white;
}